@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEEFDD;
  --foreground: #262330;
  --bg-primary: #226CE0;
  --bg-secondary: #FF4000;
  --bg-title-secondary: #E8DBCC;

  --bg-text-whatsapp: #25D366;
  --bg-text-linkedin: #0A66C2;
  --bg-text-instagram: #E4405F;

  --bg-text-materialui: #007FFF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.toggle-checkbox:checked+.toggle-label .toggle-span {
  transform: translateX(24px);
}

/* styles/globals.css */
.perspective-1000 {
  perspective: 1000px;
}

.hover\\:rotate-y-12:hover {
  transform: rotateY(12deg);
}

.hover\\:rotate-x-6:hover {
  transform: rotateX(6deg);
}