@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEEFDD;
  --foreground: #262330;
  --bg-primary: #226CE0;
  --bg-secondary: #FF4000;
  --bg-title-secondary: #E8DBCC;

  --bg-text-whatsapp: #25D366;
  --bg-text-linkedin: #0A66C2;
  --bg-text-instagram: #E4405F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
